<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Form</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <h1>New Message</h1>
      <input type="text" placeholder="Name" name="authorName" required />
      <input type="text" placeholder="Message" name="messageText" required />
      <button type="submit">Send Message</button>
    </form>
  </body>
</html>
