<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
  </head>
  <body>
    <h1>Message Detail</h1>
    <h3>Sender -> <%= message.sender%></h3>
    <h3>Message -> <%= message.text%></h3>
    <h3>Date added -> <%= message.added%></h3>
  </body>
</html>
